@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,1200);

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
    font-family: "Roboto", "Verdana", "Times New Roman", Times, "Nimbus Roman No9 L", serif;
    font-size: 0.9em;
    background-color: #e8eaf6;
    color: black;
}
* {
  margin: 0;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -70px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
nav ul{
    display: inline-flex!important;
}
nav ul li{
    list-style: none;
}
footer, .page-wrap:after {
  height: 70px; 
}
main{
    margin: 0px 0 50px 0;
}
nav ul li:last{
    align-self: right;
}
.flat{
    background-color: #fff;
    box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.21);
    padding: 12px;
    transition: 1s;
}

.flat>h1{
	text-align: center;
    color: white!important;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.7em;
}
.title, .btn .btn-primary{
    background-color: #1a237e;
}
.display-block .flat{
    margin:5px;
}



.clickable{
    cursor: pointer;
}

.clickable, .title, a{
    color: #3f51b5;
}
li.clickable:hover
{
    background-color: #3f51b5;
    transition: 1.05s;
}

li.clickable:hover>span, li.clickable:hover>i, li.clickable:hover>a {
    color: white;
    transition: .75s;
}
div.clickable.name{
    padding: 10px 0 10px 0px;
}
.bottom-bar{
    margin:0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: 0px;
}
.bottom-bar li{
    margin: auto;
    padding: 5px 10px 0 10px;
}

.bottom-bar li, .bottom-bar li a{
    display: flex;
    flex-flow: column nowrap;
}

.bottom-bar li span, .bottom-bar li i{
    margin:auto;
}
.bottom-bar li{
    cursor: pointer;
}
.bd-pageheader {
    margin-bottom: 3rem;
    text-align: left;
    padding: 2rem 15px;
    color: white;
    background-color: #2B4D7F;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.top_elem{
    margin-top: 70px;
}
nav ul li{
    margin:auto;
}
nav ul li:hover{
    font-weight: 1220;
}

button,input[type="checkbox"],label>input[type="checkbox"]{
    cursor: pointer;
}

#connexion span.icon{
	width: 500px;
	height: 500px;
}

#connexion>span, #connexion{
	display: flex;
}

#connexion>div, #connexion>span{
	flex: row nowrap;
}
#connexion span.icon>i, #connexion form, #connexion>span{
	margin: auto;
}

#questionnaire>fieldset>div{
    margin-bottom:50px;
}

#questionnaire input[type="checkbox"]{
    display: inline;
}

#questionnaire .reponse_valide{
    text-align: center;
    margin: auto;
}
#questionnaire .reponse{
    margin-left: 5%;
}


#questionnaire button[type="submit"]{
    margin: auto;
}

#questionnaire .fa{
    cursor: pointer;
}

#questionnaire .bootstrap-select{
    width:100%;
}


.centerize { 
    text-align: center;
}

#ajouterQuestion{
  margin: auto;
}


a:link 
{ 
 text-decoration:none; 
}

.bonne-reponse{
    background-color: SeaGreen;
    padding: 15px;
    font-weight: 700;
}

.mauvaise-reponse{
    background-color: #CC6666;
    padding: 15px;
}


.animation.ng-enter,
.animation.ng-leave,
.animation.ng-move {
  position:relative;
}

.animation.ng-enter {
  -webkit-animation: 0.5s repeat-animation-enter;
  animation: 0.5s repeat-animation-enter;
}

.animation.ng-leave {
  -webkit-animation: 0.5s repeat-animation-leave;
  animation: 0.5s repeat-animation-leave;
}

.animation.ng-move {
  -webkit-animation: 0.5s repeat-animation-move;
  animation: 0.5s repeat-animation-move;
}

@keyframes repeat-animation-enter {
  from {
    left:-10px;
    opacity:0;
  }
  to {
    left:0;
    opacity:1;
  }
}

@-webkit-keyframes repeat-animation-enter {
  from {
    left:-10px;
    opacity:0;
  }
  to {
    left:0;
    opacity:1;
  }
}

@keyframes repeat-animation-leave {
  from {
    left:0;
    opacity:1;
  }
  to {
    left:-10px;
    opacity:0;
  }
}

@-webkit-keyframes repeat-animation-leave {
  from {
    left:0;
    opacity:1;
  }
  to {
    left:-10px;
    opacity:0;
  }
}

@keyframes repeat-animation-move {
  from { opacity:0.5; }
  to { opacity:1; }
}

@-webkit-keyframes repeat-animation-move {
  from { opacity:0.5; }
  to { opacity:1; }
}

