@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900);

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
    font-family: "Roboto", "Verdana", "Times New Roman", Times, "Nimbus Roman No9 L", serif;
    font-size: 0.9em;
    background-color: #e8eaf6;
    color: black;
    font-weight: normal;
}
* {
  margin: 0;
}
.title h2{
  display: inline;
}
.title span{
  margin-top: -10px!important;
  padding: 10px!important;
  border-radius: 100%;

}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -70px; 
}
.page-wrap:after {
  content: "";
  display: block;
}

nav{
  width: 100%;
}
#tour{
    display: inline-flex!important;
        flex-flow: row nowrap;
    justify-content: space-between;
}

footer, .page-wrap:after {
  height: 70px; 
}
main{
    margin: 0px 0 50px 0;
}

.flat{
    background-color: #fff;
    box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.21);
    padding: 12px;
    transition: 1s;
    line-height: 2;
}
.flat.title_question{
	text-align: center;
	font-weight: 900;
}

.flat-reponse{
    background-color: #fff;
    padding: 12px 12px 12px 0;
    box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.21);
    transition: 1s;
}

.flat>h1{
	text-align: center;
    color: white!important;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.7em;
}
.btn-primary{
  border-color: #0275d8;
}
.flat>h2{
	text-align: center;
    color: white!important;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.3em;
}
.title, .btn.btn-primary{
    background-color: #1a237e!important;
}
.display-block .flat{
    margin:5px;
}
.title-session{
	line-height: 2;
}
.back>.fa{
	margin-right: 12%;
}

.clickable{
    cursor: pointer;
}

.clickable, .title, a{
    color: #3f51b5;
}
.flat_link{
  margin-right: 2.5em;
  line-height: 2;
  width: 30px;
  height: 30px;
  text-align:center;
  border-radius: 50%;
  padding-left: 2px;
  padding-top: 1px;
}

.flat_link_left{
  margin-right: 2.5em;
  line-height: 2;
  width: 30px;
  height: 30px;
  text-align:center;
  border-radius: 50%;
  padding-top: 1px;
}
li.clickable:hover, .clickable:hover .fa-chevron-right, .clickable:hover .fa-chevron-left
{
    background-color: #3f51b5;
    transition: 1.05s;
}

.clickable:hover .flat_link_left, .clickable:hover .flat_link, .clickable:hover .fa-chevron-left,li.clickable:hover>span, li.clickable:hover>i, li.clickable:hover>a, .clickable .bottom-bar span:hover, .clickable .bottom-bar a:hover {
    font-weight: 700;
    color: white;
    transition: .75s;
    transform:rotate(360deg);
}

a:hover{
  font-weight: 700; 
}
div.clickable.name{
    line-height: 2;
}


.bottom-bar{
    margin:0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: 0px;
}
.bottom-bar li{
    margin: auto;
    padding: 5px 10px 0 10px;
}

.bottom-bar li, .bottom-bar li a{
    display: flex;
    flex-flow: column nowrap;
}

.bottom-bar li span, .bottom-bar li i{
    margin:auto;
}
.bottom-bar li{
    cursor: pointer;
}
.bd-pageheader {
    margin-bottom: 3rem;
    text-align: left;
    padding: 2rem 15px;
    color: white;
    background-color: #2B4D7F;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.top_elem{
    margin-top: 70px;
}

button,input[type="checkbox"],label>input[type="checkbox"]{
    cursor: pointer;
}

#connexion span.icon{
	width: 500px;
	height: 500px;
}

#connexion>span, #connexion{
	display: flex;
}
#chart{
  list-style:none;
  padding: 0;
  margin: 0;
}
#chart li{
  max-width: 100%;
  margin: 25px auto auto auto;
}
form label{
	cursor: pointer;
}
#connexion>div, #connexion>span{
	flex: row nowrap;
}
#connexion span.icon>i, #connexion form, #connexion>span{
	margin: auto;
}

#questionnaire>fieldset>div{
    margin-bottom:50px;
}

#questionnaire input[type="checkbox"]{
    display: inline;
}

#questionnaire .reponse_valide{
    text-align: center;
    margin: auto;
}
#questionnaire .reponse{
    margin-left: 5%;
}


#questionnaire button[type="submit"]{
    margin: auto;
}

#questionnaire .fa{
    cursor: pointer;
}

#questionnaire .bootstrap-select{
    width:100%;
}


.centerize { 
    text-align: center;
}

#ajouterQuestion{
  margin: auto;
}

#tour .fa{
  margin: 0;
}

a:link 
{ 
 text-decoration:none; 
}
a:hover{
  color: #3f51b5;
}
.circle{
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
}
.good{
    background-color: SeaGreen;
}

.bad{
    background-color: #CC6666;
}
.sans-opinion{
  background-color: grey;
}
.orange{
  background-color: orange;
}
.circle.reponse{
  margin: 0 10px 0 10px;
}
#statTab tbody tr td{
  vertical-align: middle;
  text-align: center;
}
#statTab th{
  text-align: center;
}

.ng-move{
      -webkit-animation: bounceOut 1s;
    -moz-animation: bounceOut 1s;
    -ms-animation: bounceOut 1s;
    animation: bounceOut 1s;
}
.flat.animation.ng-enter {  
    -webkit-animation: bounceIn 1s;
    -moz-animation: bounceIn 1s;
    -ms-animation: bounceIn 1s;
    animation: bounceIn 1s;
}
.flat.animation.ng-leave {  
    -webkit-animation: bounceOut 1s;
    -moz-animation: bounceOut 1s;
    -ms-animation: bounceOut 1s;
    animation: bounceOut 1s;
}
.main-block.animation.ng-enter {  
    -webkit-animation: pulse 1s;
    -moz-animation: pulse 1s;
    -ms-animation: pulse 1s;
    animation: pulse 1s;
}

.container-reponse.ng-hide-add{
    animation:0.5s lightSpeedOut ease;

}

/* when showing the picture */
.container-reponse.ng-hide-remove      { animation:0.5s flipInX ease; }
/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}


@keyframes font-weight-up {
  0% {
      font-weight: 400 ;
  }

  40% {
    font-weight: 500 ;
  }

  60% {
        font-weight: 600 ;

  }

  80% {
         font-weight: 800 ;

  }

  100% {
       font-weight: 900 ;

  }
}

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

.navigation {
  width: 100%;
  border-bottom: 1px solid #ccc;
  background: #fff;
  height: 50px /* Collapsed navigation height */;
}
.navigation__inner {
  display: flex;
  max-width: 900px;
  height: 50px /* Collapsed navigation height */;
  margin: 0 auto;
  overflow: hidden;
}
.toggle:checked ~ .navigation__inner {
  height: auto /* Full height when more is toggled */;
}
.navigation__link {
  display: block;
  padding: 0 20px;
  font-size: 14px;
  line-height: 50px /* Collapsed navigation height */;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.navigation__link:hover {
  text-decoration: underline;
}
.navigation__logo {
  flex-shrink: 0 /* Stops logo collapsing */;
  align-self: flex-start /* Stops logo stretching with list */;
  border-left: 1px solid #ccc;
}
.navigation__logo .navigation__link {
  font-weight: bold;
}
.navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 0;
  border-right: 0;
}
@media screen and (max-width: 400px) {
  .navigation__item {
    flex-basis: 100% /* Stops uneven wrapping */;
  }
}
.navigation__toggle {
  flex-shrink: 0 /* Stops more button collapsing */;
  background: #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.navigation__toggle .navigation__link {
  position: relative;
  padding-right: 50px;
}
/* More button arrow */
.navigation__toggle .navigation__link:after {
  content: '';
  position: absolute;
  top: 22px;
  right: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
}
/* Flip the arrow when toggled */
.toggle:checked ~ .navigation__inner .navigation__toggle .navigation__link:after {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #000 transparent;
}
/* Hide the checkbox */
.toggle {
  position: absolute;
  z-index: -1;
  opacity: 0;
}