<form class="flat">
	<fieldset>
		<legend>Ajouter une nouvelle question</legend>
		<div class="form-group row ">
			<label for="question" class="col-2 col-form-label">Question</label>
			<div class="col-10">
				<input type="text" ng-model="title" autocapitalize="sentences" required class="form-control" placeholder="Question" name="question" id="question">
			</div>
		</div>
		<div ng-repeat="response in responses" class="reponseList">
			<div class="form-group row reponse">
				<label for="{{response.id}}" class="col-2 col-form-label">Réponse</label>
				<div class="col-6">
					<textarea  ng-model="response.name" name="{{response.id}}" id="{{response.id}}" class="form-control" required></textarea>
				</div>
				<div class="col-3">
					<label class="col-form-label reponse_valide">
			  			<input type="checkbox" ng-model="response.verdict" ng-true-value="true" ng-false-value="false">
			  			Réponse correcte.
			  		</label>
				</div>
			</div>
			<div class="pull-right">
				<button class="btn btn-primary" ng-show="$last" ng-click="removeResponse()">Suppression</button>
			</div>
		</div>
			<button type="button" ng-click="addNewResponse()" class="btn btn-primary new_Rep">Nouvelle réponse</button>
	<div class="centerize">
		<button type="submit" class="btn btn-primary" ng-click="envoyer()">Enregistrer</button>
	</div>
	</fieldset>
</form>
