<div class="container top_elem">
	<div class="row">
	<form class="flat col-lg-12" id="ajouterQuestion">
		<fieldset>
			<legend>{{title}}</legend>
			<div class="form-group row ">
				<label for="question" class="col-2 col-form-label">Question</label>
				<div class="col-6">
					<input type="text" ng-model="question.title" autocapitalize="sentences" required class="form-control" placeholder="Question" name="question" id="question">
				</div>
			</div>
			<div ng-repeat="proposition in question.propositions" class="reponseList">
				<div class="form-group row reponse">
					<label for="{{proposition.id}}" class="col-2 col-form-label">Réponse</label>
					<div class="col-6">
						<textarea  ng-model="proposition.title" name="{{proposition.id}}" id="{{proposition.id}}" class="form-control" required></textarea>
					</div>
					<div class="col-3">
						<label class="col-form-label reponse_valide">
				  			<input type="checkbox" ng-model="proposition.verdict" ng-true-value=1 ng-false-value=0>
				  			Réponse correcte.
				  		</label>
					</div>
				</div>
			<div class="pull-right">
				<button type="button" class="btn btn-primary"  ng-show="$last" ng-click="removeResponse(proposition.id)">Suppression</button>
			</div>

			</div>
				<button type="button" ng-click="addNewResponse()" class="btn btn-primary new_Rep">Nouvelle réponse</button>
  			<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" class="my-alert" close="closeAlert($index)">{{alert.msg}}</div>
  			<div class="centerize">
			<a class="btn btn-primary" title="Retour à la liste de questions" ui-sref="app.ues.sessions.questions({ id_question: {{question.id}} })" >
			<span>Retour</span>
			</a>
			<button type="submit" title="Enregistrer" class="btn btn-primary" ng-click="envoyer()">Enregistrer</button>
		</div>
		</fieldset>
	</form>
	</div>
</div>
