<form ng-controller="sessionController" class="form-horizontal" ng-submit="add()" name="ajouterSession" > 
        <fieldset>
           <!-- Form Name -->
           <legend>Ajouter une UE</legend>
           <!-- Text input-->
           <div class="form-group">
             <input id="title" name="title" placeholder="TITRE" ng-model="title" class="form-control form-control-lg" required="" type="text">
           </div>
           <div class="form-group">
             <input ng-model="number" placeholder="NOMBRE ???" class="form-control form-control-lg" required="" type="number">
           </div>
           <button class="btn btn-primary btn-lg">Enregistrer</button>
           <div class="error" ng-repeat="error in errors">{{error}}
           </div>
        </fieldset>
</form>