<div class="container top_elem">
  <div class="row">
    <div class="col-sm-12">
      <form ng-submit="envoyer" class="form-horizontal flat" ng-submit="submit()" name="ajouterUe" > 
        <fieldset>
           <!-- Form Name -->
           <legend>Ajouter une UE</legend>
           <!-- Text input-->
           <div class="form-group">
             <input id="code_ue" name="code_ue" placeholder="Code de l'UE" ng-model="code_ue" class="form-control form-control-lg" required="" type="text">
           </div>
           <div class="form-group">
             <input ng-model="nom_ue" placeholder="Nom de l'UE" class="form-control form-control-lg" required="" type="text">
           </div>
           <button class="btn btn-primary btn-lg">Enregistrer</button>
           <div class="error" ng-repeat="error in errors">{{error}}
           </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>