<div class="container top_elem">
	<div class="row">
	<form class="flat col-lg-12" id="ajouterQuestion">
		<fieldset>
			<legend>{{title}}</legend>
			<div class="form-group row ">
				<label for="question" class="col-2 col-form-label">Question</label>
				<div class="col-6">
					<input type="text" ng-model="question.title" autocapitalize="sentences" required class="form-control" placeholder="Question" name="question" id="question">
				</div>
			</div>
			<div ng-repeat="proposition in question.propositions" class="reponseList">
				<div class="form-group row reponse">
					<label for="{{proposition.id}}" class="col-2 col-form-label">Proposition {{$index + 1}}</label>
					<div class="col-6">
						<textarea  ng-model="proposition.title" name="{{proposition.id}}" id="{{proposition.id}}" class="form-control" required></textarea>
					</div>
					<div class="col-3">
						<label class="col-form-label reponse_valide">
				  			<input type="checkbox" ng-model="proposition.verdict" ng-true-value=1 ng-false-value=0>
				  			Proposition correcte.
				  		</label>
					</div>
					<span class="col-1 clickable" title="Supprimer la proposition" ng-click="removeResponse($index)">
						<i class="fa fa-trash-o" aria-hidden="true"></i>
					</span>
				</div>
			</div>
			<div class="btn-group" uib-dropdown>
		      <button id="split-button" type="button" ng-click="addNewResponse()" class="btn btn-primary new_Rep">Nouvelle réponse</button>
		      <button type="button" class="btn btn-primary" uib-dropdown-toggle>
		        <span class="caret"></span>
		        <span class="sr-only">Split button!</span>
		      </button>
		      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
		      	<li ng-show="deleted_response.length == 0"><span>Aucune question supprimé.</span></li>
		        <li ng-repeat="question in deleted_response" role="menuitem">
		        	<span ng-click="addOldResponse($index)">Ajouter {{question.title}}</span>
		        </li>
		      </ul>
		    </div>
  			<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" class="my-alert" close="closeAlert($index)">{{alert.msg}}</div>
  			<div class="centerize">
			<a class="btn secondary" title="Retour à la liste de questions" ui-sref="app.ues.sessions.questions({ id_question: {{question.id}} })" >
				<span>Retour</span>
			</a>
			<button type="submit" title="Enregistrer" class="btn btn-primary" ng-click="envoyer()">Enregistrer</button>
		</div>
		</fieldset>
	</form>
	</div>
</div>
