   <span class="container-question">
        <!--<div class="information flat">
            <span class="code-ue">ALGAV</span>
            <span class="libelle">Albert Einstein</span>
            <span class="date">21-03-2017 17h20</span>
        </div>-->
        <div class="qcm">
            <div class="flat">
            	<div class="flat ue_row" ng-show="!questions.length">Aucune question</div>
            	<div class="question" ng-repeat="question in questions | orderBy:'+number'">
	                <div ng-click="question.booleanVal = !question.booleanVal" class="questionTitle" >
	                    <span>{{question.number}} - {{question.title}}</span>
	                </div>
                    <div  ng-show="question.walid">
                        <i class="fa fa-2x fa-cog pull-right" aria-hidden="true"></i>
                         <i class="fa fa-trash-o fa-2x pull-right delete" aria-hidden="true" ng-click="delete(session)"></i>
                    </div>
	                <div class="container-reponse" ng-show="question.booleanVal" ng-repeat="rep in propositions | orderBy:'+number'">
	                    <div ng-class="rep.verdict==1 ? ' flat bonne-reponse' : 'flat mauvaise-reponse'">{{rep.title}}</div>
	                </div>
            	</div>
                <a ui-sref=".create">Ajouter une question</a>
            </div>
        </div>
    </span>

