<span class="col-sm-3">
	<div class="display-sessions" ng-controller="sessionController" ng-init="loadList()">
	      <legend>Sessions</legend>
	        <a>{{session.title}}</a>
	        <a ui-sref="ues/sessions/question/({ id_ue: {{id_ue}}, id_session: {{session.id}} })"><i class="fa fa-wrench" aria-hidden="true"></i></a>
	        <i class="fa fa-trash-o fa-2x delete" aria-hidden="true"></i>
	        <a>[{{session.number}}] {{session.title}}</a>
	</div>
 	<div class=" flat session_row" ng-show="!data.ue.sessions.length">Aucune sessions créées</div>

</span>
<span ui-view="question" class="top_elem">
	
</span>
</div>
