<div class="row top_elem">
	<div class="display-block offset-md-1 col-md-2">
		<a title="Retour à la liste d'ue" ui-sref="app.ues" >
			<div class="back animation clickable flat"><i class="fa flat_link_left  fa-chevron-left" aria-hidden="true"></i><span>Retour</span></div>
		</a>
	</div>
	<div class="title-session col-md-3 display-block">
		<div class="flat">[{{myue.code_ue}}] {{myue.name}}</div>
	</div>
</div>
<div class="row">
	<span class="col-md-6 offset-lg-1 col-lg-5">
		<div class="display-block">
			<div class="flat title">
		      <h1>Sessions</h1>
		      </div>
		      	<a ui-sref=".create({ id_ue: {{id_ue}} })" title="Ajouter une session"><div class="flat clickable">Ajouter une session<i class="pull-right flat_link fa fa-chevron-right" aria-hidden="true"></i></div></a>
		      <div class="flat animation session_row" ui-sref-active="active" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="session in sessions| orderBy:'+number'">
		       <div class="clickable name" title="Allez vers {{session.title}}">
		       	<a class="link" ui-sref=".questions({ id_ue: {{id_ue}}, id_session: {{session.id}} })">
		       		<div>[Séance n°{{session.number}}] {{session.title}}<i class="pull-right flat_link fa fa-chevron-right" aria-hidden="true"></i>
		       		</div>
		       	</a>
		       	</div>
			<hr/ ng-show="session.right == true || session.right == undefined">
            <ul class="bottom-bar" ng-show="session.right == true || session.right == undefined">
                <li title="Modifier la session {{session.number}}" class="clickable">
                	<a ui-sref=".edit({ id_session: {{session.id}} })">
                    	<i class="fa fa-cog" aria-hidden="true"></i>
                    	<span>Modifier</span>
                	</a>
                </li>
                <li title="Supprimer la session {{session.number}}" class="clickable" ng-click="delete(session)">
                    <i class="fa fa-trash-o  delete" aria-hidden="true"></i>
                    <span>Supprimer</span>
                </li>
            </ul>  
		      </div>
		      <div class="flat session_row" ng-show="!sessions.length">Aucune sessions créées</div>
		</div>
	</span>
	<span class="col-md-6 col-lg-5 main-block animation" ui-view="questions"></span>
</div>

