<div class="row top_elem">
	<div class="offset-md-1 col-sm-2">
		<a ui-sref="ues" ><div class="flat">Retour</div></a>
	</div>
	<div class="flat">
		<span>{{myue.name}} {{id_ue}}</span>
	</div>
</div>
<div class="row">
	<span class="offset-md-1 col-sm-5">
		<div class="display-block" ng-init="loadList()">
			<div class="flat title">
		      <h1>Sessions</h1>
		      </div>
		      	<a ui-sref="ues.sessions.create({ id_ue: {{id_ue}} })"><div class="flat clickable">Ajouter une session</div></a>
		      <div class="flat session_row" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="session in data.ue.sessions| orderBy:'+number'" data-id="{{session.id}}">
		       <div class="clickable name"><a ui-sref="ues.sessions.questions({ id_ue: {{id_ue}}, id_session: {{session.id}} })"><div>[{{session.number}}] {{session.title}}</div></a></div>
			<hr/>
            <ul class="bottom-bar">
                <li class="clickable">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span>Modifier</span>
                </li>
                <li class="clickable" ng-click="delete(session)">
                    <i class="fa fa-trash-o  delete" aria-hidden="true"></i>
                    <span>Supprimer</span>
                </li>
            </ul>  
		      </div>
		      <div class="flat session_row" ng-show="!data.ue.sessions.length">Aucune sessions créées</div>
		</div>
	</span>
	<span class="col-sm-5" ui-view="questions"></span>
</div>

