<div class="container top_elem display-block" id="ue_list">
	<div class="row">
		<div class="col-sm-12">
			<div class="flat title">
		      <h1>Statistique</h1>
		    </div>
		    <div class="flat">
		    	{{question.title}}
		    </div>
	       <div class="flat animation">
	       	<div ng-repeat="rep in propositions | orderBy:'+number'">
	       		<div ng-class="rep.verdict==1 ? ' flat bonne-reponse' : 'flat mauvaise-reponse'">{{rep.title}}</div>
	       	</div>
	       </div>
	       <ul id="chart">
	       	<li class="col-lg-6 col-sm-12">
		       	<div class="flat title">TITLE</div>
		       	<div class="flat">
		       		<nvd3 options='rep_compare' data='values_per_proposition'></nvd3>
		       	</div>
	       	</li>
	       	<li class="col-lg-6 col-sm-12">
		       	<div class=" flat title">TITLE</div>
		       	<div class="flat">
		       		<nvd3 options='rep_compare' data='data_to_show'></nvd3>
		       	</div>
	       	</li>
	       </ul>

		</div>
	</div>
</div>
