<div class="container top_elem display-block" id="ue_list">
	<div class="row">
		<div class="col-sm-12">
		<div class="flat title">
	      <h1>Mes UEs</h1>
	    </div>
	      <a ui-sref="ues/create">
	      	<div class="flat even">Ajouter une UE</div>
	      </a>
	      <div class="flat" ng-show="!ues_list.my_ues.length && !ues_list.other_ues.length">Aucune UEs créées</div>
	      <div class=" flat animation" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="ue in ues_list.my_ues | orderBy:'+code_ue'">
	        <div class="clickable name">
	        	<a ui-sref-active="active" ui-sref="ues.sessions({ id_ue: {{ue.id}} })"><div>[{{ue.code_ue}}] {{ue.name}}</div></a>
	        </div>
	       	<hr/>
            <ul class="bottom-bar">
                <li class="clickable">
                	<a ui-sref="ues/edit({ id_ue: {{ue.id}} })">
	                    <i class="fa fa-cog" aria-hidden="true"></i>
	                    <span>Modifier</span>
                    </a>
                </li>
                <li class="clickable" ng-click="delete(ue)">
                    <i class="fa fa-trash-o  delete" aria-hidden="true"></i>
                    <span>Supprimer</span>
                </li>
            </ul>
	      </div>
	     <div class="flat title">
	      <h1>Others UEs</h1>
	    </div>
	      <div class="flat clickable" ng-animate="'animate'" ng-class-odd="'even'" ng-class-even="'odd'" ng-repeat="ue in ues_list.other_ues| orderBy:'+code_ue'">
	      <div class="name clickable">
	      	<a ui-sref="ues.sessions({ id_ue: {{ue.id}} })"><div>[{{ue.code_ue}}] {{ue.name}}</div></a>
	      </div>
	      </div>
		</div>
	</div>
</div>
