<div class="container top_elem display-ues" id="ue_list" ng-controller="ueController" ng-init="loadList()">
	<div class="row">
		<div class="col-sm-12">
	      <legend>Mes UEs</legend>
	      <div class="flat"><a ui-sref="ues/create">Créer une UE</a></div>
	      <div class="flat ue_row" ng-show="!my_ues.length && !other_ues.length">Aucune UEs créées</div>
	      <div class=" flat my_ues ue_row" ng-repeat="ue in my_ues | orderBy:'+code_ue'">
	        <a ui-sref-active="active" ui-sref="ues/sessions({ id_ue: {{ue.id}} })">[{{ue.code_ue}}] {{ue.name}}</a>
	        <i class="fa fa-trash-o fa-2x delete" aria-hidden="true"></i>
	      </div>
	      <div class="flat other_ues ue_row" ng-repeat="ue in other_ues| orderBy:'+code_ue'"><a ui-sref="ues/sessions({ id_ue: {{ue.id}} })">[{{ue.code_ue}}] {{ue.name}}</a></div>
		</div>
	</div>
</div>
